
/* CONFIG. GERAIS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.3s;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5 {
    font-family: "Anton SC";
    color: #E8F2F5;
}
p {
    font-family: "Sul";
    color: #E8F2F5;
}
section {
    width: 100vw;
    min-height: 100vh;
}
a:any-link {
    color: #E8F2F5;
    text-decoration-line: none;
}
/* HOME DO SITE */

section#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../Midias/image/Caminhões Scania.jpg");
}
#home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #000000ee, #0b0b0bb0, #16161620, #ffffff00);
    z-index: 1;
}
#Bloco_texto_home {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #00000099, #06093d7F, #070d5d02);
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}
#logo_home {
    position: absolute;
    width: 20%;
    height: 13%;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
    object-fit: cover;
}
#Bloco_texto_home > div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 2;
}
#titulo-home {
    text-align: center;
    font-size: clamp(2rem, 10vw, 5rem);
    white-space: nowrap;
}
#subtitulo-home {
    text-align: center;
    font-family: "Artifika";
    font-size: clamp(1rem, 4vw, 2rem);
    white-space: nowrap;
}
#butao-explore-home {
    display: inline-block;
    padding: 15px 13px;
    margin: 2.5vh auto;
    font-family: "Assistant";
    font-size: clamp(1rem, 1.5vw, 2rem);
    background: linear-gradient(to right, #070D5D, #0B1490, #0F1BC3);
    border-radius: 30px;
    box-shadow: 1px 4px 5px 5px #00000025;
    transition: 3ms;
}
#butao-explore-home:hover {
    scale: 1.07;
}
/* SECTION SOBRE A EMPRESA */
section#sobre {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#container_sobre {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    box-shadow: 0 4px 4px 0 #14131373;
}
#wallpaper_logo {
    position: fixed;
    width: 38vw;
    height: 38vw;
    top: 50%;
    float: left;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    box-shadow: 5px 9px 4px 0px #00000075;
    border-radius:  0 20px 20px 0;
    object-fit: cover;
    animation: left 3ms ease-in-out;
    animation-timeline: view();
    animation-range: cover -100% cover 10%;
}

#container_texto_sobre {
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 38%;
}
#container_texto_sobre > p {
    position: absolute;
    width: 58vw;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: clamp(1rem, 1.7vw, 2rem);
    font-family: "Asul";
    float: right;
    animation: opacity 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 50%;
}
/* SECTION SERVIÇOS */
#section_servicos {
    width: 100vw;
    height: 100vh;
}
.titulo_banner {
    width: 100vw;
    padding: 10px;
    text-align: center;
    font-size: clamp(1rem, 1.8vw, 2rem);
    background-image: linear-gradient(to right, #070D5D, #0B1490, #0F1BC3);
}
#servicos > div {
    position: relative;
    display: flex;
    width: 100vw;
    height: 40vh;
    margin: 3% 0;
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    justify-content: center;
    align-items: center;
}
#servicos > div > ul {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;  
    transform: translateY(calc(50% - 100px));
    margin: auto;
    text-align: center;
    justify-content: center;
    list-style: none;
}

#card {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    text-align-last: center;
    margin: auto;
}
.face{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    color: black;
    background: #E8F2F5;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
#back > img {
    width: 100px;
    object-fit: cover;
    margin: 5px auto 70px;
}
#back > p {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    font-size: clamp(1rem, 1.8vw, 2rem);
    color: black;
}
#front > p {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    font-size: clamp(1rem, 1vw, 2rem);
    color: black;
}
#front {
    transform: rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
}
/* SECTION VENDA DE PEÇAS */

/* FOOTER */
