
/* CONFIG. GERAIS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.3s;

    -webkit-tap-highlight-color: transparent;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none;    /* Para navegadores Firefox */
    -ms-user-select: none;     /* Para navegadores Internet Explorer/Edge */
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5 {
    font-family: "Anton SC";
    color: #E8F2F5;
}
p {
    font-family: "Asul";
    color: #E8F2F5;
}
section {
    width: 100vw;
}
a:any-link {
    color: #E8F2F5;
    text-decoration-line: none;
}
/* HOME DO SITE */

section#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../Midias/image/freepik-export-20241014165528Qt4i.png");
}
#home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #000000ee, #0b0b0bb0, #16161620, #ffffff00);
    z-index: 1;
}
#Bloco_texto_home {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #00000099, #06093d8a, #070D5D02);
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}
#logo_home {
    position: absolute;
    width: 20%;
    height: 13%;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
    object-fit: cover;
}
#Bloco_texto_home > div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 2;
}
#titulo-home {
    text-align: center;
    font-size: clamp(2rem, 10vw, 5rem);
    white-space: nowrap;
}
#subtitulo-home {
    text-align: center;
    font-family: "Artifika";
    font-size: clamp(1rem, 4vw, 2rem);
    white-space: nowrap;
}
#butao-explore-home {
    display: inline-block;
    padding: 15px 13px;
    margin: 2.5vh auto;
    font-family: "Assistant";
    font-size: clamp(1rem, 1.5vw, 2rem);
    background: linear-gradient(to right, #070D5D, #0B1490, #0F1BC3);
    border-radius: 30px;
    box-shadow: 1px 4px 5px 5px #00000025;
    transition: 3ms;
}
#butao-explore-home:hover {
    scale: 1.07;
    outline: 1.5px groove #E8F2F5;
}
/* SECTION SOBRE A EMPRESA */
section#sobre {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#container_sobre {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    box-shadow: 0 4px 4px 0 #14131373;
}
#wallpaper_logo {
    position: fixed;
    width: 38vw;
    height: 38vw;
    top: 50%;
    float: left;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    box-shadow: 5px 9px 4px 0px #00000075;
    border-radius:  0 20px 20px 0;
    object-fit: cover;
    animation: wallpaper-logo-pc 3ms ease-in-out;
    animation-timeline: view();
    animation-range: cover -100% cover 10%;
}

#container_texto_sobre {
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 38%;
}
#container_texto_sobre > p {
    position: absolute;
    width: 58vw;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: clamp(1rem, 1.7vw, 2rem);
    font-family: "Asul";
    float: right;
    animation: opacity 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 50%;
}
/* SECTION SERVIÇOS */
#section_servicos {
    display: block;
    width: 100vw;
    min-height: 100vh;
}
.titulo_banner {
    width: 100vw;
    padding: 10px;
    text-align: center;
    font-size: clamp(1rem, 1.8vw, 2rem);
    background-image: linear-gradient(to right, #070D5D, #0B1490, #0F1BC3);
}
#servicos > div {
    position: relative;
    display: flex;
    width: 100vw;
    height: 40vh;
    margin: 3% 0;
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    justify-content: center;
    align-items: center;
}
#servicos > div > ul {
    display: inline-flex;
    width: 75%;
    height: 100%;  
    margin: 10% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#card,#card2, #card3, #card4 ,#card5, #card6 {
    display: inline-flex;
    justify-content: center;
    transform-style: preserve-3d;
    text-align-last: center;
    margin: auto;
}
.face{
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    color: black;
    background: #E8F2F5;
    box-shadow: 2px 2px 20px #00000080;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 23%;
    cursor: pointer;
}
#back > img, #back2 > img, #back3 > img, #back4 > img, #back5 > img, #back6 > img{
    width: 100px;
    object-fit: cover;
    margin: 5px auto 70px;
}
#back > p, #back2 > p, #back3 > p, #back4 > p, #back5 > p, #back6 > p{
    position: absolute;
    width: 95%;
    padding: 20px 0;
    bottom: 0;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: black;
    font-family: "Archivo";
}
#back, #back2, #back3, #back4, #back5, #back6 {
    transform: translateY(-100px);
}
#front > p, #front2 > p, #front3 > p, #front4 > p, #front5 > p, #front6 > p  {
    width: 100%;
    padding: 10px 5px;
    margin: 5px;
    bottom: 0;
    text-align: center;
    font-size: clamp(1rem, 1.3vw, 2rem);
    color: black;
    font-family: "Archivo";
}
#front, #front2, #front3, #front4, #front5, #front6{
    transform: translateY(-100px)  rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
}

/* SECTION GOOGLE MAPS */
#Google_Maps {
    margin: 5vh 0;
}
#container_google_maps {
    display: flex;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}
#container_google_maps > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #070D63, #0B1496, #0E1AC9);
    justify-content: center;
    align-items: center;
}
#container_google_maps > a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    justify-content: center;
    align-items: center;
    transition: 1s;
}
#container_google_maps > div > h2 {
    text-align: center;
    margin: 1.5% auto;
    font-family: "Arimo";
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: whitesmoke;
}
#container_google_maps > div > p {
    width: 90%;
    text-align: center;
    margin: 1.5% auto;
    font-family: "Asul";
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: rgb(221, 220, 220);
}
.texto_img {
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 2% 0;
    text-align: center;
    font-family: "Anton SC";
    transform: translate(-50%, -50%);
    font-size: clamp(2rem, 5vw, 10rem);
    background: rgba(245, 245, 245, 0.664);
    color: #0e1bc9c2;
    z-index: 10;
    transition: 1s;
}
#container_google_maps > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
#container_google_maps > a:hover .texto_img {
    opacity: 1;
    transition: 1s;
}
#container_google_maps > a > img:hover {
    filter: blur(2px);
    z-index: 0;
    transition: 1s;
}

/* SECTION VENDA DE PEÇAS */
#venda_de_pecas {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
}
#container_vendas {
    position: absolute;
    display: flex;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../Midias/image/wallpaper\ de\ pneu\ black.png");
    box-shadow: 5px 5px 13px 0 #08108080;
    border-radius: 30px;
    object-fit: cover;
}
#container_vendas::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #242323d5;
    border-radius: 30px;
    z-index: 1;
}
#navBar_vendas {
    width: 30%;
    height: 100%;
    float: left;
    background: linear-gradient(to right, #000000e1, #000000e1,#000000dc, #000000b4,#000000b4, #00000000);
    border-radius: 30px 0 0 30px;
    z-index: 2;
}
#produtos {
    width: 70%;
    height: 100%;
    float: right;
    z-index: 2;
}
#Titulo_Vendas {
    margin: 13% 0 0 10%;
    font-size: clamp(1rem, 4vw, 2rem);
    color: #E1830E;
    text-decoration: underline;
    text-decoration-color: #E1830E;
    text-underline-offset: 5px;
    white-space: nowrap;
}
#navBar_vendas > ul {
    display: flex;
    height: 80%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
#navBar_vendas > ul > li {
    margin: 2% 10% ;
    font-family: "Arimo";
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: #E8F2F5;
    text-decoration: underline;
    text-decoration-color: #E8F2F5;
    text-underline-offset: 3px;
    white-space: nowrap;
    cursor: pointer;

}
#navBar_vendas > ul > li:hover {
    color: #737575;
    text-decoration-color: #737575;
}
#produtos > ul {
    display: flex;
    width: 105%;
    height: 100%;
    transform: translateX(-6%);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
#produtos > ul > li {
    width: 23%;
    height: 45%;
    margin: auto;
    background-color: #E8F2F5;
    box-shadow: 2px 2px 20px #00000080;
    border-radius: 30px;
}
/* SECTION ENTRAR EM CONTATO */
#entre_em_contato {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#entre_em_contato > .titulo_banner {
    background: none;
}
#container_card_entrar_em_contato {
    position: absolute;
    display: flex;
    width: 60vw;
    height: 60%;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(to right, #171718 50%, #38383A 99%, #3D3E40 100%);
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
#card_entrar_em_contato {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
#card_entrar_em_contato > img {
    width: 40%;
    margin: auto;
    scale: 0.65;
    animation: baixo 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 23%;
}
#text_entrar_em_contato {
    position: relative;
    width: 60%;
    min-height: 100%;
    background: #E8F2F5;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    animation: direita 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 23%;
}
#text_entrar_em_contato > div {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#text_entrar_em_contato > div > p {
    font-family: "Arimo";
    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover -50% cover 0%;
}
#text_entrar_em_contato > div > #texto{
    color: #000000;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
}
#button_entrar_em_contato {
    display: inline-block;
    padding: 15px 13px;
    margin: 2.5vh auto;
    font-family: "Arimo";
    font-size: clamp(1rem, 1.5vw, 2rem);
    background: linear-gradient(to right, #070D5D, #0B1490, #0F1BC3);
    color: #E8F2F5;
    border-radius: 30px;
    box-shadow: 1px 4px 5px 5px #00000025;
    transition: 3ms;
    cursor: pointer;
    white-space: nowrap;
}
 
#button_entrar_em_contato:hover {
    scale: 1.07;
    outline: 1.5px groove whitesmoke;
    transition: 5ms;
}
/* FOOTER */
footer {
    display: relative;
    width: 100vw;
    height: 45vh;
}
footer > #contato {
    position: relative;
    width: 100vw;
    height: 80%;
    background-image: url("https://img.freepik.com/fotos-premium/pista-de-asfalto-ao-por-do-sol_674594-16641.jpg");
    object-fit: cover;
}
div#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #070d5def, #0B1490ef, #0D18A9ef, #0E19B6ef, #0f1bc3ef);
    z-index: 2;
}
#container_contato {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
#container_contato > h2 {
    font-family: Arimo;
    margin: 1vh 0;
}
#container_contato > a {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0.5vh 0;
    font-family: "Archiva";
    justify-content: center;
    align-items: center;
}

.icon_whatsapp {
    display: inline;
    width: 50px;
    object-fit: cover;
}

footer > #redes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    padding: 2% 0;
    justify-content: center;
    align-items: center;
}
footer > #redes > div {
    display: flex;
    height: 100%;
    height: 100%;
}
.image_logo {
    width: 30px;
    margin: 0 5px;
}
footer > #redes > a {
    display: flex;
    font-family: "Archiva";
    justify-content: center;
    align-items: center;
}
#logo_email {
    margin: 0 3px;
}